{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<h1 class="title">This is an about page</h1>
<p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
    laborum.</p>

    <p>Diam maecenas ultricies mi eget mauris pharetra et. Mauris nunc congue nisi vitae suscipit. Vehicula ipsum a arcu
        cursus vitae congue. Euismod lacinia at quis risus sed vulputate odio ut enim. Ut enim blandit volutpat maecenas
        volutpat blandit aliquam. Mauris a diam maecenas sed enim ut sem. Velit egestas dui id ornare arcu odio ut. Nunc
        sed velit dignissim sodales ut eu. Sit amet cursus sit amet dictum sit amet justo. Tincidunt dui ut ornare
        lectus sit amet. Nunc congue nisi vitae suscipit tellus. Varius vel pharetra vel turpis nunc eget lorem. Risus
        ultricies tristique nulla aliquet enim tortor at auctor. Commodo elit at imperdiet dui accumsan sit amet. Et
        netus et malesuada fames. Vel pharetra vel turpis nunc eget. Laoreet sit amet cursus sit amet dictum.</p>

{% endblock %}


