{% extends "base.html" %}

{% block title %}Add Contact{% endblock title %}

{% block content %}
<h1 class="title" xmlns="http://www.w3.org/1999/html">Add a new contact</h1>

    <div class="columns">
        <div class="column is-4">
            <div class="card">
                <div class="card-content">
                    <form method="post" action="{{ url_for('add_contact') }}">
                        {{ form.csrf_token }}

                        <div class="field">
                            <label class="label" for="{{ form.name.label.field_id }}">
                            {{ form.name.label.text }}
                            </label>
                            <div class="control">
                              {{ form.name(size=20) }}
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="{{ form.email.label.field_id }}">
                            {{ form.email.label.text }}
                            </label>
                            <div class="control">
                              {{ form.email(size=20) }}
                            </div>
                          </div>

                        <div class="field">
                            <label class="label" for="{{ form.number.label.field_id }}">
                            {{ form.number.label.text }}
                            </label>
                            <div class="control">
                              {{ form.number(size=20) }}
                            </div>
                          </div>

                        <button class="button is-primary" type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}