{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <section class="hero is-primary">
        <div class="hero-body">
            <h1 class="title">Welcome to Contacts App!</h1>

            <div class="content">
                <p>An easy to use and practical Contacts App! Feel free to try it!
                </p>
            </div>
        </div>
    </section>

    <div class="block mt-6">
        <h2 class="title is-4">My Contacts</h2>
        <div class="columns is-multiline">
            {% for contact in contacts %}
                <div class="column is-4">
                    <div class="card">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">
                                        <a href="{{ url_for('contact_details', name=contact.name) }}">
                                            {{ contact.name }}
                                        </a>
                                    </p>
                                    <p class="subtitle is-6">{{ contact.email }} / {{ contact.number }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}